<!DOCTYPE html>
<html>
<head>
	<title>Kafka Web Monitor</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/lib/bootstrap-3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<style>
		.content { background-color:#fff;margin: 20px; width: 90%; }
		.title { font-weight: 500; font-size: 20px; padding: 10px; margin-bottom: 26px; }
		.hosts { width:50%; }
		.chroot { width:20% }
		#zk-hosts .input-group-btn { display: inline; }

	</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Kafka Web Monitor</a>
		</div>
	</div>
</div>
<div>
	<div class= "content sec-index" style="">
		<div class="title"><%= __('Zookeeper List') %></div>
		<div id="alert-div"></div>
		<div>
			<table class="table" id="zk-hosts" data-toggle="table" data-cache="false">
				<colgroup>
					<col />
					<col width="30%" />
					<col width="150px;" />
				</colgroup>
				<thead>
					<tr class="info">
						<th data-valign="middle"><%= __('zk hosts') %></th>
						<th data-valign="middle"><%= __('chroot') %></th>
						<th data-valign="middle" data-align="center"><%= __('Action') %></th>
					</tr>
				</thead>
				<tbody>
				<% for(var i = 0; zkHosts && i < zkHosts.length; i++) { %>
				<tr id="<%= zkHosts[i].id %>">
					<td class="host-td"><a href="/?id=<%= zkHosts[i].id %>"><%= zkHosts[i].hosts %></a></td>
					<td class="chroot-td"><%= zkHosts[i].chroot %></td>
					<td>
						<span class="input-group-btn">
							<button type="button" class="btn btn-warning btn-sm btn-edit" data-id="<%= zkHosts[i].id %>" title="<%= __('Edit') %>">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
						</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-danger btn-sm btn-del" data-id="<%= zkHosts[i].id %>" title="<%= __('Delete') %>">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</span>
					</td>
				</tr>
				<% } %>
				<tr>
					<td>
						<input type="text" class="form-control input-sm" id="hosts" name="hosts" placeholder="<%= __('Zookeeper connection string') %>" />
					</td>
					<td>
						<input type="text" class="form-control input-sm" id="chroot" name="chroot" placeholder="<%= __('Chroot string(optional)') %>" />
					</td>
					<td>
						<button type="button" class="btn btn-info btn-sm add-btn" id="add-btn" title="<%= __('Add') %>">
							<i class="glyphicon glyphicon-send"></i> <%= __('Add') %>
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% include ./modals %>
<script type="text/javascript" src="/lib/jquery/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/lib/moment/moment.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/zkhosts.js"></script>
<script>
	$(function() {
		$('#add-btn').on('click', function() {
			setAddBtnEvent();
		});

		$('.btn-edit').on('click', function(e) {
			setEditBtnEvent(this);
		});

		$('.btn-del').on('click', function(e) {
			setDelBtnEvent(this);
		});

		$('#hosts').focus();
	});
</script>
</body>
</html>
